<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h4>Dear <span th:text="${receiver}"></span>,</h4>

<p>We hope this message finds you well. The HR Department is pleased to provide you with a detailed salary and bonus evaluation for the month of <span th:text="${lastDayOfMonth}"></span>. Your information is attached below these lines.</p>

<p>If you have any questions or need assistance, please do not hesitate to reach out to Mr. Nam at <span th:text="${adminEmail}"></span>. He can be contacted until 10:00 AM on <span th:text="${deadLineMonth}"></span>.</p>

<p>To ensure accurate and timely salary payments, please take a moment to review your preferred payment method and bank details as provided in the attached file.</p>

<p>Wishing you continued happiness and productivity in your role.</p>

<p>Thank you for your dedication and hard work.</p>

<p>Best regards,</p>
<p><span th:text="${sender}"></span></p>
</body>

</html>